# Adult Census Income Analysis

Here is where I worked through answers to the freeCodeCamp Data Analysis with Python challenge using the Adult Census Income dataset. I used this scratchpaper to work through answers before submitting them to the test function.

In [164]:
import pandas as pd

In [165]:
df = pd.read_csv("adult.data.csv")
print(df.info())
print(df.tail()["salary"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, dtype: object

How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [166]:
race_count = df.value_counts("race")
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

What is the average age of men?

In [167]:
average_age_men = df[df["sex"] == "Male"]["age"].mean()
print(f"{average_age_men:0.1f} years")

39.4 years

What is the percentage of people who have a Bachelor's degree?

In [168]:
percentage_bachelors = (df["education"] == "Bachelors").mean()
print(f"{percentage_bachelors:0.1%}")

16.4%

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

What percentage of people without advanced education make more than 50K?

In [175]:
advanced_edu = ["Bachelors", "Masters", "Doctorate"]

higher_edu_df = df[df["education"].isin(advanced_edu)]
lower_edu_df = df[~df["education"].isin(advanced_edu)]

higher_education = higher_edu_df.shape[0]
lower_education = lower_edu_df.shape[0]

higher_education_rich = (higher_edu_df["salary"] == ">50K").mean()
lower_education_rich = (lower_edu_df["salary"] == ">50K").mean()

print(f"With advanced education making over 50K = {higher_education_rich:0.1%}")
print(f"Without advanced education making over 50K = {lower_education_rich:0.1%}")

With advanced education making over 50K = 46.5%
Without advanced education making over 50K = 17.4%

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [170]:
min_work_hours = df["hours-per-week"].min()
print(f"{min_work_hours} hr")

1 hr

What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [171]:
min_work_df = df[df["hours-per-week"] == 1]
rich_percentage = (min_work_df["salary"] == ">50K").mean()
print(f"{rich_percentage:0.0%}")

10%

What country has the highest percentage of people that earn >50K?

In [172]:
top_earners = df[df['salary'] == '>50K'].groupby('native-country').size()
populations = df.groupby('native-country').size()
percents = top_earners/populations

highest_earning_country = percents.idxmax()
highest_earning_country_percentage = percents.max()
print(f"{highest_earning_country}: {highest_earning_country_percentage:0.1%}")

Iran: 41.9%

In [173]:
# with value_counts(), instead of groupby() = yields same answer
    # top_earners = df[df["salary"] == ">50K"]['native-country'].value_counts()
    # populations = df['native-country'].value_counts()

Identify the most popular occupation for those who earn >50K in India.

In [174]:
high_earners = df["salary"] == ">50K" # casts as vars for readibility
india = df["native-country"] == "India"
top_IN_occupation = df[(high_earners) & (india)]['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'